.primary-nav {
   padding-top: 10px;

   @mixin atMedium {
      padding-top: 0;
   }

   &--pull-right {

      @mixin atMedium {
         float: right;
      }
   }

   ul {
      margin: 0;
      padding: 0;
      @mixin clearfix;
   }

   li {
      list-style: none;
      display: inline-block;
      padding-right: 7px;

      @mixin atMedium {
         padding-right: 20px;
         display: block;
         float: left;
      }
   }

   li:last-child {
      padding-right: 0;

      @mixin atMedium {
         padding-right: 20px;
      }
   }

   a {
      background-color: rgba($mainBlue, .5);
      color: #fff;
      text-decoration: none;
      font-size: .8rem;
      font-weight: 300;
      padding: 5px 8px;
      display: block;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0);
      transition: 0.4s;

      @mixin atMedium {
         background-color: transparent;
         font-size: 1rem;
         padding: 12px 0;

         &.is-current-link {
            color: $mainOrangeLight;

            &:hover {
               border-bottom: 1.5px solid $mainOrangeLight;
            }
         }
      }

      &:hover {
         padding-bottom: 6px;
         border-bottom: 1.5px solid #fff;
         transition: 0.4s;
      }
   }

}