.section-title {
   font-size: 2.55rem;
   font-weight: 300;
   text-align: center;

   @mixin atSmall {
      font-size: 3.73rem;
   }

   strong {
      font-weight: 500;
   }

   &__icon {
      margin-right: .5rem;
      left: 0rem;
      top: .5rem;
   }
   &::before {
      background: url(../../assets/images/icons/star.svg) no-repeat;
      content: "";
      height: 70px;
      width: 70px;
      position: relative;
      display: inline-block;
      margin: 0 10px 0 0;
      top: 13px;
   }
}